nav{
  display:flex;

  justify-content:space-between;

  align-items:center;

  padding:20px 80px;

  background:white;
}

ul{
  display:flex;

  gap:20px;

  list-style:none;
}

button{
  background:var(--primary-color);

  color:white;

  border:none;

  padding:12px 20px;

  border-radius:8px;

  cursor:pointer;
}

@media(max-width:768px){

  nav{

    flex-direction:column;

    gap:20px;

    padding:20px;
  }

  ul{
    flex-direction:column;
  }

}